﻿
@model Nop.Plugin.Payments.Ipag.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="PaymentIpag" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LoginIpag_OverrideForStore" asp-input="LoginIpag" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LoginIpag" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LoginIpag" />
                        <span asp-validation-for="LoginIpag"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="APIKey_OverrideForStore" asp-input="APIKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="APIKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="APIKey" />
                        <span asp-validation-for="APIKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AcceptedCards" />
                    </div>
                    <div class="col-md-9">
                        @foreach (var csd in Model.Cards)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CheckedAcceptedCards" value="@(csd)" checked="@Model.AcceptedCards.Contains(csd)" />
                                    @csd
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>