﻿@model Nop.Plugin.Payments.Ipag.Models.PaymentInfoModel

@{
    Layout = "";
    var webHelper = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWebHelper>();
    var storeLocation = webHelper.GetStoreLocation();
}
@inject Nop.Plugin.Payments.Ipag.IpagPaymentSettings ipagPaymentSettings
@inject Nop.Plugin.Payments.Ipag.ApiHelper apiHelper
@inject Nop.Core.Domain.Orders.OrderSettings orderSettings

<style type="text/css">
    .ipag-input {
        height: 36px;
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
        color: #777;
    }
    .ipag-form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    select.ipag-input {
        width: 100%;
    }

    .ipag-form-control-focus {
        border-color: #1e7e34;
        color: #444;
    }

    .ipag-input--error {
        outline: #e4434b;
    }
</style>
<script type="text/javascript" src="https://sandbox.ipag.com.br/js/dist/ipag.js"></script>
<script>
    function loadYears() {
        var d = new Date();
        var ano = d.getFullYear();
       
        var i = 0;
        var option;
        for (i = 0; i < 10; i++) {
            option = document.createElement('option');

            option.text = ano;
            option.value = ano;
            document.getElementById("ipag-expiry-year").appendChild(option);
            ano = ano + 1;
        }

    }

    $(document).ready(function () {
        loadYears();


        $('.payment-info-next-step-button').attr('onclick', null);
        var submitForm = false;
        var stepBack = false;
        var onePageCheckout = @orderSettings.OnePageCheckoutEnabled.ToString().ToLower();
        var errorsExist = false;
        //var form = $(this).parents('form');
        var createToken = function () {
             console.log("Creating Token");
             @{ var accessToken = await apiHelper.GetAccessToken(ipagPaymentSettings); };
            iPag.setIpagId('@accessToken');
            iPag.setTestMode();
            console.log("access token gerado");
                 // Valida se o campo titular do cartão não está vazio.
            if (!iPag.validateHolder($('*[data-ipag = "holder"]').val())) {
                 return alert('Titular é inválido!');
             }
                // Valida se a data de vencimento é válida.
                if (!iPag.validateExpiration(
                    $('*[data-ipag = "expiry_month"]').val(),
                    $('*[data-ipag = "expiry_year"]').val()
                )) {
                    return alert('Vencimento é inválido.');
                }

                /** Valida se o número do cartão de crédito é um número válido.
                 ** Se sim, recupera os dados do form, instância um cartão e faz a chamada para criar um token
                 ** Se não houver nenhum erro, o token será devolvido no método then(function(response)) ...
                 **/
            if (iPag.validateCreditCardNumber($('*[data-ipag = "number"]').val())) {
                    iPag.setCreditCard(
                        $('*[data-ipag="holder"]').val(),
                        $('*[data-ipag="number"]').val(),
                        $('*[data-ipag="expiry_month"]').val(),
                        $('*[data-ipag="expiry_year"]').val(),
                        $('*[data-ipag="cvv"]').val()
                );
                $('.please-wait').attr('style', 'display: block;');
                $('.payment-info-next-step-button').attr('opacity', .3);
                $('.payment-info-next-step-button').attr('disabled', true);
                iPag.createToken().then(function (response) {
                   
                    $('.please-wait').attr('style', 'display: none;');
                    $('.payment-info-next-step-button').attr('opacity',1);
                    $('.payment-info-next-step-button').attr('disabled', false);
                            if (response.token) {
                                $('*[data-ipag="ipag-token"]').val(response.token);
                                $('#@Html.IdFor(model => model.TokenIpag)').val(response.token);
                                $('#@Html.IdFor(model => model.MethodIpag)').val(response.brand);
                                $('*[data-ipag="holder"]').val('');
                                $('*[data-ipag="number"]').val('');
                                $('*[data-ipag="expiry_month"]').val('');
                                $('*[data-ipag="expiry_year"]').val('');
                                $('*[data-ipag="cvv"]').val('');
                                console.log(JSON.stringify(response));
                                submitForm = true;

                                $('input.payment-info-next-step-button').trigger("click");
                            } else {
                                $('.please-wait').attr('style', 'display: none;');
                                $('.payment-info-next-step-button').attr('opacity', 1);
                                $('.payment-info-next-step-button').attr('disabled', false);
                                alert("Erro salvando cartão: " + JSON.stringify(response));
                                errorsExist = true;
                            }
                        })
                        .catch(function (error) {
                            $('.please-wait').attr('style', 'display: none;');
                            $('.payment-info-next-step-button').attr('opacity', 1);
                            $('.payment-info-next-step-button').attr('disabled', false);
                            alert("Erro salvando cartão: " + JSON.stringify(error));
                            errorsExist = true;

                        });
            } else {
                $('.please-wait').attr('style', 'display: none;');
                $('.payment-info-next-step-button').attr('opacity', 1);
                $('.payment-info-next-step-button').attr('disabled', false);
                return alert('Número do cartão inválido!');
                errorsExist = true;

            }
           // createToken();
       }

           $('input.payment-info-next-step-button').on('click', function (data) {
            if (!submitForm ) {
                if (!errorsExist && !stepBack) {
                    createToken();
                }
                return false;
            }
            else if (onePageCheckout) {
                submitForm = false;

                PaymentInfo.save();

            }
        });
   });
    $(document).on('accordion_section_opened', function (data) {
        if (data && (data.currentSectionId == 'opc-billing' || data.currentSectionId == 'opc-shipping' || data.currentSectionId == 'opc-shipping_method' || data.currentSectionId == 'opc-payment_method')) {
            stepBack = true;
        }
    });

</script>
<div id="checkout-payment-info-load">
    <input type="hidden" asp-for="TokenIpag" class="ipag-token">
    <input type="hidden" asp-for="MethodIpag" class="method">
    <input type="hidden" asp-for="Errors">
    

    @if (!Model.IsGuest && Model.StoredCards.Any())
    {
        <table width="100%" cellspacing="2" cellpadding="1" border="0">
            <tr>
                <td>
                    <label asp-for="StoredCardId">@T("Plugins.Payments.Ipag.Fields.StoredCard"):</label>
                </td>
                <td>
                    <select asp-for="StoredCardId" asp-items="Model.StoredCards" class="ipag-input"></select>
                </td>
            </tr>
        </table>
    }
    <input type="hidden" class="ipag-token" name="ipag-token" value="" />
    <table width="100%" cellspacing="2" cellpadding="1" border="0" id="ipag-card-details">
        <tr>
            <td>
                <label>@T("Payment.CardNumber"):</label>
            </td>
            <td>
                <div id="ipag-card-number" style="width:165px;"></div>
                <input type="text" id="ipag-card-number" placeholder="Informe o número do cartão." data-ipag="number" class="ipag-card-number ipag-form-control" style="width:165px;" autocomplete="off" maxlength="22" />

            </td>
        </tr>
        <tr>
            <td>
                <label>@T("Payment.CardHolderName"):</label>
            </td>
            <td>
                <div id="ipag-cardholder-name" style="width:165px;"></div>
                <input type="text" id="ipag-cardholder-name" data-ipag="holder" class="ipag-cardholder-name ipag-form-control" style="width:165px;" autocomplete="off" maxlength="22" value="" placeholder="Informe o Nome da forma que está no cartão." />

            </td>
        </tr>
        <tr>
            <td>
                <label>@T("Payment.ExpirationDate"):</label>
                <select id="ipag-expiry-month" data-ipag="expiry_month" class="ipag-expiry-month ipag-form-control">
                    <option>
                        01
                    </option>
                    <option>
                        02
                    </option>
                    <option>
                        03
                    </option>
                    <option>
                        04
                    </option>
                    <option>
                        05
                    </option>
                    <option>
                        06
                    </option>
                    <option>
                        07
                    </option>
                    <option>
                        08
                    </option>
                    <option>
                        09
                    </option>
                    <option>
                        10
                    </option>
                    <option>
                        11
                    </option>
                    <option>
                        12
                    </option>
                </select>
            </td>
            <td>
                <select id="ipag-expiry-year" data-ipag="expiry_year" class="ipag-expiry-year ipag-form-control"></select>
            </td>

        </tr>
        <tr>
            <td>
                <label>@T("Payment.CardCode"):</label>
            </td>
            <td>
                <input type="text" id="ipag-cvv" placeholder="Informe o CVV." data-ipag="cvv" class="ipag-cvv ipag-form-control" style="width:60px;" />
            </td>
        </tr>

        @if (!Model.IsGuest)
        {
            <tr>
                <td>
                    <label hidden asp-for="SaveCard">@T("Plugins.Payments.Ipag.Fields.SaveCard"):</label>
                </td>
                <td>
                    <input type="hidden" asp-for="SaveCard" />
                    <span asp-validation-for="SaveCard"></span>
                </td>
            </tr>

        }
    </table>
</div>

