﻿@model ConfigurationModel

@using Nop.Web.Framework;
@using Nop.Plugin.Payments.Square
@using Nop.Plugin.Payments.Square.Models

@{
    Layout = "";
}

<script>
    $(document).ready(function () {
        $('#@Html.FieldIdFor(model => model.UseSandbox)').click(toggleUseSandbox);
        toggleUseSandbox();
    });

    function toggleUseSandbox() {
        if ($('#@Html.FieldIdFor(model => model.UseSandbox)').is(':checked')) {
            $('#groupApplicationSecret').hide();
            $('#liveAccessToken').hide();
            $('#sandboxAccessToken').show();
            $('#liveApplicationId').hide();
            $('#sandboxApplicationId').show();
        } else {
            $('#groupApplicationSecret').show();
            $('#liveAccessToken').show();
            $('#sandboxAccessToken').hide();
            $('#liveApplicationId').show();
            $('#sandboxApplicationId').hide();
        }
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(string.Format(T("Plugins.Payments.Square.Instructions").Text, Url.RouteUrl(SquarePaymentDefaults.AccessTokenRoute, null, "https")))
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3" id="sandboxApplicationId">
                        @Html.NopLabelFor(model => model.SandboxApplicationId)
                    </div>
                    <div class="col-md-3" id="liveApplicationId">
                        @Html.NopLabelFor(model => model.ApplicationId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApplicationId, required: true)
                        @Html.ValidationMessageFor(model => model.ApplicationId)
                    </div>
                </div>
                <div class="form-group" id="groupApplicationSecret">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ApplicationSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApplicationSecret, required: true)
                        @Html.ValidationMessageFor(model => model.ApplicationSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LocationId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.LocationId, Model.Locations, required: true)
                        @Html.ValidationMessageFor(model => model.LocationId)
                    </div>
                </div>
                <div class="form-group" id="sandboxAccessToken">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SandboxAccessToken)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AccessToken, required: true)
                        @Html.ValidationMessageFor(model => model.AccessToken)
                    </div>
                </div>                
                <div class="form-group" id="liveAccessToken">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AccessToken)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <div class="form-text-row">@(new string('*', 10))</div>
                            <div class="input-group-btn">
                                <button type="button" id="obtainAccessToken" class="btn btn-info">
                                    @T("Plugins.Payments.Square.ObtainAccessToken")
                                </button>
                                @Html.RequiredHint()

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#obtainAccessToken').click(function () {
                                            $.ajax({
                                                cache: false,
                                                type: "POST",
                                                url: "@(Url.Action("ObtainAccessToken"))",
                                                success: function(data) {
                                                    if (data.url) {
                                                        location.href = data.url;
                                                    }
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TransactionModeId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TransactionModeId, Model.TransactionModes)
                        @Html.ValidationMessageFor(model => model.TransactionModeId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="input-group input-group-short">
                            <div class="input-group-text">
                                <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                            </div>
                            @if (!Model.UseSandbox &&
                                !string.IsNullOrEmpty(Model.ApplicationId) &&
                                !string.IsNullOrEmpty(Model.ApplicationSecret) &&
                                !string.IsNullOrEmpty(Model.AccessToken))
                            {
                                <div class="input-group-btn">
                                    <button type="submit" name="revokeAccessTokens" class="btn bg-red">
                                        @T("Plugins.Payments.Square.RevokeAccessTokens")
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}