﻿
@model ConfigurationModel

@using Nop.Plugin.Payments.Ipag
@using Nop.Plugin.Payments.Ipag.Models
@using Nop.Web.Framework

@{
    Layout = "";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form asp-controller="PaymentIpag" asp-action="Configure" method="post">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.UseSandbox)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.UseSandbox)
                            @Html.ValidationMessageFor(model => model.UseSandbox)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" id="LoginIpag">
                            @Html.NopLabelFor(model => model.LoginIpag)
                        </div>

                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.LoginIpag, required: true)
                            @Html.ValidationMessageFor(model => model.LoginIpag)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" id="APIKey">
                            @Html.NopLabelFor(model => model.APIKey)
                        </div>

                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.APIKey, required: true)
                            @Html.ValidationMessageFor(model => model.APIKey)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="input-group input-group-short">
                                <div class="input-group-text">
                                    <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
}